<div class="text-center my-5">
  <h5 class="font-weight-bold">Get Started</h5>
  <div class="mx-auto my-auto" style="position: relative; width: 150px; height: 150px; border-radius: 50%; background-color: #eee;" >
    <div style="position: absolute; top: 50%; left: calc(50% - 20px); transform: translateY(-50%);">
      <i class="fa fa-wallet h1 text-primary"></i>
    </div>
  </div>

  <p class="my-4">Only few steps to start your investment!</p>

  <a href="" class="btn btn-primary mb-3 btn-lg font-weight-bold">Sign Up</a>
  <p>Already have an account? <a href="#">Sign In</a></p>
</div>