<div class="card my-3">
  <div class="card-body">
    <h5>Risk</h2>
    <button class="btn btn-secondary">High</button>
    <button class="btn btn-primary bg-dark-blue">Medium</button>
    <button class="btn btn-primary bg-dark-blue">Low</button>
  </div>
</div>

<div class="card my-3">
  <div class="card-body">
    <h5>Duration</h2>
    <button class="btn btn-primary bg-dark-primary">< 6 months</button>
    <button class="btn btn-secondary">6-12 months</button>
    <button class="btn btn-secondary">> 12 months</button>
  </div>
</div>

<div class="card my-3">
  <div class="card-body">
    <h5>Status</h2>
    <button class="btn btn-secondary my-2 bg-purple">Case Started</button>
    <button class="btn btn-secondary my-2">Investigation Finished</button>
    <button class="btn btn-secondary my-2 bg-purple">Pleadings</button>
    <button class="btn btn-secondary my-2">Discovery</button>
    <button class="btn btn-secondary my-2">Pre-trial</button>
    <button class="btn btn-secondary my-2">Trial</button>
    <button class="btn btn-secondary my-2">Settlement</button>
    <button class="btn btn-secondary my-2">Result decalred</button>
  </div>
</div>

<div class="card my-3">
  <div class="card-body">
    <h5>Price</h2>
    <div class="row">
      <div class="col-6">
        <label>Min</label>
      </div>
      <div class="col-6">
        <label>Max</label>
      </div>
      <div class="col-6">
        <input type="text" placeholder="placeholder" class="form-control">
      </div>
      <div class="col-6">
        <input type="text" placeholder="placeholder" class="form-control">
      </div>
    </div>
  </div>
</div>